.adminPage {
    height: 100vh;
    margin-top: -100px;
}

.backgroundAdminPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: var(--cor-principal);
    z-index: 1;
}

.react-grid-item {
    background-color: white;
}

.dashboard-content {
    margin-top: -90px;
    border-top-right-radius: 24px;
    padding: 24px;
}

.dashboard-laris-acessorios {
    background-color: #f7f7f7;
    width: 82%;
    height: 100vh;
    margin-left: 250px;
    border-radius: 24px;
}

.dashboard-header-component__inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.dashboard-header-component-action-btns {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dashboard-header-component-action-btns button {
    width: 40px !important;
    height: 40px !important;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
    background-color: white;
    border-radius: 100%;
    display: flex;
}

.widget {
    color: black;
}

.dashboard-header-component {
    margin-left: 250px;
    position: fixed;
    top: 0;
    padding: 24px 0px;
}

@media screen and (max-width: 900px) {
    .dashboard-laris-acessorios {
        background-color: #f7f7f7;
        width: 100%;
        height: 100vh;
        margin-left: 0px;
        border-radius: 24px;
    }

    .dashboard-header-component__inside {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

.dashboard-header-component {
    margin-left: 0px;
    position: fixed;
    top: 0;
    padding: 24px 0px;
}
}